<div class="text-center card p-5 mt-5" style="margin-left: 25%; margin-right: 25%;">
  <h1>{{title}}&nbsp;<i class="bi bi-list-task"></i></h1>


  <div class="input-group mb-3 w-75 offset-2">
    <input type="text" class="form-control " placeholder="Enter new task" #task>
    <div class="input-group-append">
      <button class="btn btn-success btn-outline-secondary" placement="top" ngbTooltip="Add New Task"
        (click)="addTask(task.value)"><i class="bi bi-plus-lg"></i></button>
    </div>
  </div>


  <div class="mt-5" *ngFor="let item of list">
    <!-- <ul *ngFor="let item of list"> -->
    <li class="p-2" style="list-style-type: none;">{{item.name}}
       <button class="btn btn-danger mr-2" placement="top"
        ngbTooltip="Remove Task" (click)="removeTask(item.id)"><i class="bi bi-trash"></i></button>
        <button class="btn btn-primary mr-2" placement="top"
        ngbTooltip="Edit Task" ><i class="bi bi-pencil-fill"></i></button>
      </li>
    <!-- </ul> -->
  </div>
  
</div>




<router-outlet></router-outlet>